<table border="1" style="border-collapse: collapse;">
  <thead>
    {{- range .THead }}
      <tr>
        {{- range . }}
          <th style="padding: 6px 12px;{{ with .Alignment }} text-align: {{ . }};{{ end }}">{{ .Text }}</th>
        {{- end }}
      </tr>
    {{- end }}
  </thead>
  <tbody>
    {{- range .TBody }}
      <tr>
        {{- range . }}
          <td style="padding: 6px 12px;{{ with .Alignment }} text-align: {{ . }};{{ end }}">{{ .Text }}</td>
        {{- end }}
      </tr>
    {{- end }}
  </tbody>
</table>
