{{ partial "mathjax.html" . }}
<style>
  @font-face {
    font-family: 'Scriptina';
    src: url('/fonts/scriptina.woff2') format('woff2'),
         url('/fonts/scriptina.woff') format('woff'),
         url('/fonts/scriptina.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  .title h2 {
      font-family: 'Scriptina', cursive !important;
      font-size: 2.5em !important;
      font-weight: normal !important;
      letter-spacing: 1px !important;
  }
</style> 